/* Basic Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: lightblue;
  }

  
  header {
    background-color: black;
    color: #fff;
    padding: 20px;
  }
  
  h1 {
    font-size: 2.5rem;
    margin: 0;
  }
  
  nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin-left: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
  }
  
  .section {
    background-color: #f1f1f1;
    padding: 40px;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
  }
  
  .section li {
    background-color: bisque ;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
  }

  .section li ul{
    
    color: green;
  }
  
  
  section {
    margin-bottom: 40px;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: darkblue;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 20px;
    
  }
  
  h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: darkred;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    margin: 0;
  }
  
  /* Custom Styles */
  
  /* About Section */
  
  #about {
    background-color: #fff;
  }
  
  #about p {
    margin-bottom: 20px;
  }
  
  /* Contact Section */
  
  #contact {
    background-color: #fff;
  }
  
  form label {
    display: block;
    margin-bottom: 10px;
  }
  
  form input,
  form textarea {
    border: none;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
  }
  
  form button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  form button[type="submit"]:hover {
    background-color: #666;
  }

  form input{
    background-color: bisque;
  }  

  form textarea{
    background-color: bisque;
  }  

  #myBtn {
    display: none; /* Hide the button by default */
    position: fixed; /* Fixed position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #555; /* Set background color */
    color: white; /* Set text color */
    cursor: pointer; /* Add a pointer on hover */
    padding: 15px; /* Add padding */
    border-radius: 10px; /* Add rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: red; /* Add a darker background on hover */
  }
